.ios9-lightblue {color:#54C7FC;}
.ios9-blue {color:#0076FF;}
.ios9-darkpink {color:#FF2851;}
.ios9-red {color:#FF3824;}
.ios9-orange {color:#FF9600;}
.ios9-yellow {color:#FFCD00;}
.ios9-lightgreen {color:#44DB5E;}
.ios9-darkgray {color:#8E8E93;}

#unused-body {
margin-top:0px !important; padding-top:9px !important; -moz-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2); box-shadow: inset 0 8px 6px -6px rgba(0,0,0,0.2);
}

/* Body */

body {
	-webkit-text-size-adjust:none;
	-webkit-touch-callout:none;
	-webkit-user-select:text;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 9px auto;
	width: device-width;
	max-width: 514px !important;
	font-family: ".SFNSText-Medium", -apple-system, "Helvetica Neue", "Lucida Grande", -apple-system-font, system-ui, "SFProDisplay-Regular", "BlinkMacSystemFont", sans-serif;
	background-color: #000000;
	min-font-size: 13px;
	font-size: 13px;
	text-align:center;
    padding-inline: 0px;
}

/* Huge title */

h1 {
    padding-left: 16px;
}

/* Panel */

body > panel {
	display: block;
	width: 100%;
	margin: 0;
	border:0;
	border-top: 1px solid #3d3c40;
	border-bottom: 1px solid #3d3c40;
	margin-bottom:9px;
	background-color: #1c1b1d;
	text-align:left;
}

/* Inset tables */

@media screen and (min-width: 367px) {
    body {
        padding-inline: 16px;
    }

    body > panel {
        border-radius:10px;
        border-top: 0px;
        border-bottom: 0px;
    }
    h1 {
        padding-left: 0px;
    }
}


body > panel > fieldset {
    display: block;
    padding: 0 14px;
    background-color: #1c1b1d;
    color: #b0afb3;
    line-height: 18px;
    border: 0;
    border-radius: 100px;
}

body > panel > fieldset + fieldset {
    margin-left: 16px;
    padding-left: 0;
    margin-right: -0.2px;
    border-top: 1px solid #3d3c40;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20;
    border-bottom-right-radius: 20;
}


body > panel > fieldset.alert {
	font-weight: bold;
	font-size: 15px;
	padding-top: 14px;
	padding-bottom: 0px;
	text-align:center;
}

body > panel > fieldset.alert > div > a {
	display:block;
	width:100%;
}

body > panel > fieldset.alert > div > a:link, body > panel > fieldset.alert > div > a:visited {
	color:#1c1b1d;
	text-decoration:none;
}

body > panel > fieldset.warn {
	color: #1c1b1d;
	background-color: #ff3824;
}

body > panel > fieldset.okay {
	color: #1c1b1d;
	background-color: MediumSeaGreen;
}

body > panel > fieldset > label {
	font-size: 17px;
	display: block;
	color:white;
	position:relative;
	padding-top: 13.5px;
	padding-bottom: 14px;
}

/* Field title + footer */

h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #8d8d93;
    padding-left: 16px;
    padding-top: 16px;
    font-weight: normal;
}

/* Field cell */

body > panel > fieldset > label > a > img.icon,
body > panel > fieldset > div > img.icon {
	display:none;
}

body > panel > fieldset > div a:link, body > panel > fieldset > div a:visited {
	text-decoration:none;
	color: #0076ff;
}

body > panel > fieldset > div > p a:link, body > panel > fieldset > div > p a:visited {
	text-decoration:none;
	color: #0076ff;
}

body > panel > fieldset > label a:link, body > panel > fieldset > label a:visited {
	text-decoration:none;
	color: #0076ff;
}

/* Button cell */
body > panel > fieldset > a.button:link, body > panel > fieldset > a.button:visited {
	text-decoration:none;
	color: #0076ff;
}

body > panel > fieldset > a.button {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	font-size: 17px;
	color:black;
	position:relative;
	padding-top: 11.5px;
	padding-bottom: 12px;
	margin-top:2px;
	margin-bottom:2px;
	background-repeat: no-repeat;
	background-image: url(ios7-chevron.png);
	background-position: right;
}

body > panel > fieldset > a.button .icon {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    vertical-align: middle;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	body > panel > fieldset > a.button {
		background-image: url(ios7-chevron@2x.png);
		background-size:8px 13px;
	}
}

/* Title font */
body > panel > fieldset > h1 {
    font-size: large;
}

body > panel > fieldset > h1 .icon {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    vertical-align: middle;
}

body > panel > fieldset > div {
padding-bottom: 14px;
}

body > panel > fieldset > div iframe {
	display:block;
	margin:8px auto;
	outline: solid rgba(204,204,204,0.3) 1px;
	outline-offset: 0px;
	zoom: 1.08;
	-moz-transform: scale(1.08);
}

body > panel > fieldset > div {
	margin-top:0px
	margin-bottom:8px;
}

body > panel > fieldset > div > p+p {
	margin-top:9px;
}

body > panel > fieldset > div img {
	outline: solid rgba(204,204,204,0.3) 1px;
	outline-offset: -1px;
	zoom: 1.05;
	-moz-transform: scale(1.05);
	margin:5px 2px
}

body > panel > fieldset > div * {
	font-size: inherit !important;
}

body > panel > fieldset > div > table.information {
	margin-left:34px;
}

body > panel > fieldset > div > table.information > tbody > tr > td {
	padding-bottom: 5px;
}

body > panel > fieldset > div > table.information > tbody > tr > td.key {
	color:#999;
	padding-right:14px;
	text-align:right;
}

ul, ol {
	padding: 8px 18px;
}





div.header {
	display:none;
}

div.pic {
	display:none;
}

fieldset.black {
	display:none;
}



@keyframes screenshots {
	from {
		opacity: 0;
		-webkit-transform: translate(0, 200px);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
	}
}

body.pinstripe {
	text-align:center;
	background-color: #e9e9ee !important;
	-webkit-animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: screenshots;
}

body.pinstripe > panel{
	background:none !important;
	text-align:center;
	border:0;
}

body.pinstripe > panel > fieldset > div > p {
	text-align:left;
	margin:15px inherit;
}



body.pinstripe > panel > img{
	margin:8px 0;
	outline: solid rgba(204,204,204,0.3) 1px;
	outline-offset: -1px;
	zoom: 0.88;
	-moz-transform: scale(0.88);

}

body.pinstripe > panel > div#scroller {
	text-align:center !important;
}

body.pinstripe > panel > div#scroller > div.horizontal-scroll-area {
	width:320px !important;
	margin: 0 auto;
}

body.pinstripe > panel > div#scroller > div.horizontal-scroll-area > img {
	margin:8px 0;
}

body div.center {
	text-align:left;
	margin:15px;
}

@media (min-width: 375px) {
	body > panel > fieldset > div img{
		zoom: 1.25;
		-moz-transform: scale(1.25);
	}
	
	body > panel > fieldset > div iframe {
		zoom: 1.27;
		-moz-transform: scale(1.27);
	}
	
	body.pinstripe > panel > img {
		zoom: 1.05;
		-moz-transform: scale(1.05);
	}
}

@media (min-width: 414px) {
	body > panel > fieldset > div img{
		zoom: 1.38;
		-moz-transform: scale(1.38);
	}
	
	body > panel > fieldset > div iframe {
		zoom: 1.42;
		-moz-transform: scale(1.42);
	}
	
	body.pinstripe > panel > img {
		zoom: 1.18;
		-moz-transform: scale(1.18);
	}
}
